extends layout 

block content

        #addArticle 

        script(src="/javascripts/addarticle.js")
 
        script(src="/tinymce/tinymce.min.js") 
        script(src= "/javascripts/my-tinymce-config.js")